<launch>
  <arg name="http_host" default="127.0.0.1"/>
  <arg name="http_port" default="18081"/>
  <arg name="step_duration_seconds" default="1.0"/>

  <node pkg="iron_ore_robot_demo"
        type="robot_action_server.py"
        name="iron_ore_robot_action_server"
        output="screen">
    <param name="step_duration_seconds" value="$(arg step_duration_seconds)"/>
  </node>

  <node pkg="iron_ore_robot_demo"
        type="robot_gateway.py"
        name="iron_ore_robot_gateway"
        output="screen">
    <param name="http_host" value="$(arg http_host)"/>
    <param name="http_port" value="$(arg http_port)"/>
  </node>
</launch>
